numpy==2.2.6
opencv-python-headless==4.11.0.86
torch @ https://download.pytorch.org/whl/cpu/torch-2.4.1%2Bcpu-cp310-cp310-linux_x86_64.whl
torchvision @ https://download.pytorch.org/whl/cpu/torchvision-0.19.1%2Bcpu-cp310-cp310-linux_x86_64.whl
fastapi
uvicorn
requests
cloudinary
psycopg2-binary
pydantic
websockets
ultralytics
python-multipart